/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/*<meta conditions="Default.V4" />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);


/* V3 Styles */

p.IntroToInstructions
{
	font-weight: bold;	
}


p.NormalDoubleIndent
{
	margin-left: 60px;
}


p.NoteIndent
{
	background-color: #fdffd9;
	background: -moz-linear-gradient(#fdffd9 65%, #ffffff);
	background: -o-linear-gradient(#fdffd9 65%, #ffffff);
	background: -webkit-linear-gradient(#fdffd9 65%, #ffffff);
    background: linear-gradient(#fdffd9 65%, #ffffff);
	border-radius: 0.5em / 0.5em;
	border: 1px solid #ffcc00;
	box-shadow: 0 2px 2px 1px #e6e6e6;
	font-family: 'Open Sans', Arial !important;
	font-size: 11pt;
    margin-top: 1em !important;
	padding: 5px;
	margin-left: 40px;
}

p.NoteDoubleIndent
{
	background-color: #fdffd9;
	background: -moz-linear-gradient(#fdffd9 65%, #ffffff);
	background: -o-linear-gradient(#fdffd9 65%, #ffffff);
	background: -webkit-linear-gradient(#fdffd9 65%, #ffffff);
    background: linear-gradient(#fdffd9 65%, #ffffff);
	border-radius: 0.5em / 0.5em;
	border: 1px solid #ffcc00;
	box-shadow: 0 2px 2px 1px #e6e6e6;
	font-family: 'Open Sans', Arial !important;
	font-size: 11pt;
    margin-top: 1em !important;
	padding: 5px;
	margin-left: 60px;
}


P.TypedText {
	font-family: "Courier New", monospace;
}

P.TypedTextIndent {
	font-family: "Courier New", monospace;
	margin-left: 30pt;
}

P.RuleText {
	margin-bottom: 0pt;
	margin-top:0pt;
}


P.RuleTextIndent {
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 30pt;
}

P.RuleTextDoubleIndent {
	margin-left: 60pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

P.RuleTextTripleIndent {
	margin-left: 90pt;
	margin-bottom: 0pt;
	margin-top: 0pt;
}

MadCap|toggler
{
	mc-closed-image: url('../Images/ddCollapse.png');
	mc-open-image: url('../Images/ddExpand.png');
	mc-image-position: right;
	mc-image-spacing: 3px;
	margin-top: 1em;
	color: #007aff;
}

MadCap|toggler:hover
{
	color: #007aff;
	transition: color 0.15s;
}


/* V4 Styles */



p.NormalIndent
{
	margin-left: 40px;
}

li.Clean
{
    list-style-type: none;
}

div.TableIndent
{
    margin-left: 40px;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/DDExpand.png');
	mc-image-position: right;
	mc-image-spacing: 20px;
	mc-open-image: url('../Images/DDCollapse.png');
	margin-top: 1em;
}

MadCap|dropDownHotspot
{
	color: #666666;
	font-size: 14pt;
	font-weight: bolder;
	transition: color 0.25s;
}

MadCap|dropDownHotspot:hover
{
	color: #007aff;
	transition: color 0.15s;
}

MadCap|glossaryTerm
{
	color: inherit;
	font-family: 'Open Sans Semibold', Arial;
	font-weight: normal;
	mc-closed-image: url('../Images/information-alt.png');
	mc-open-image: url('../Images/information-alt.png');
	background-position: right center;
	opacity: 1;
	transition: color 0.25s;
}

MadCap|relatedTopics
{
	mc-help-control-display: list;
	mc-image: none;
	mc-image-alt-text: ;
	mc-image-position: none;
	mc-image-spacing: 0px;
	mc-label: "Related Information";
	mc-use-custom-sort-order: true;
	margin-top: 1em;
}

MadCap|relatedTopics.WhatsNext
{
	mc-label: "What's Next?";
}

MadCap|relatedTopics.Procedures
{
	mc-label: "Procedures";
}

span.SearchHighlight
{
	font-family: inherit !important;
}

span.SearchHighlight1
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight2
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight3
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight4
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight5
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight6
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight7
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight8
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight9
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

span.SearchHighlight10
{
	background-color: #ffcc00 !important;
	color: inherit !important;
}

/* Defines the fonts used for the general project */

@font-face {
  font-family: 'Open Sans';
  src: url('../Fonts/OpenSans-Regular.eot');
  src: url('../Fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-Regular.woff') format('woff'), url('../Fonts/OpenSans-Regular.ttf') format('truetype'), url('../Fonts/OpenSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../Fonts/OpenSans-Light.eot');
  src: url('../Fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-Light.woff') format('woff'), url('../Fonts/OpenSans-Light.ttf') format('truetype'), url('../Fonts/OpenSans-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../Fonts/OpenSans-Semibold.eot');
  src: url('../Fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-Semibold.woff') format('woff'), url('../Fonts/OpenSans-Semibold.ttf') format('truetype'), url('../Fonts/OpenSans-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal; 
}

/* Skin Required Styles */

div[class=button-group-container-left]
{
	position: absolute;
	right: 4px;
	top: 10px;
}

div[class=button-group-container-left] button
{
	background-size: 20px !important;
    margin-right: 6px;
}

div[class=button-group-container-left] button img
{
	transition: background-color 0.15s;
}

div[class=button-group-container-left] button img:hover
{
	background-color: rgba(255, 255, 255, 0.5) !important;
}

div[class=ui-loader] 
{
    display: none;
}

/* Baseline Styles */

a
{
    color: #007aff;
    text-decoration: none;
    transition: opacity 0.25s;
}

a:hover
{
    opacity: 0.75;
}

body
{
	font-family: 'Open Sans', Arial;
    font-size: 11pt;
    margin-top: -10px;
}

div.Code
{
	background-color: #FCFCFC;
	border: 1px solid #E3E3E3;
	font-family: 'Consolas', 'Courier New', monospace;
	font-size: 9.5pt;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 5px;
}

div.Code p	/* The method we've been using */
{
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: pre;
	word-wrap: break-word;
}

div.Code pre	/* This would be more in line with HTML best practice */
{
	margin-top: 0px;
	margin-bottom: 0px;
	/*word-wrap: break-word;*/
}

h1, h2, h3, h4, h5, h6, h7
{
	border-bottom: 2px solid #e6e6e6;
	font-size: 18pt;
	font-weight: bolder;
    margin-right: 150px;
	padding-bottom: 2px;
}

p.heading2
{
	color: #007aff;
	font-size: 14pt;
	font-weight: bolder;
}

p.heading3
{
	border-bottom: 2px solid #e6e6e6;
	font-size: 12pt;
	font-weight: bolder;
	padding-bottom: 2px;
    margin-right: 125px;
}

img
{
	vertical-align: text-bottom;
	max-width: 80%;
}

img.small
{
    width: 16px;
    height: 16px;
}

img.Border
{
    box-shadow: 1px 1px 2px 1px #666 !important;
}

img.maxWidth
{
	max-width: none;
}

li.SubStep
{
    font-family: 'Open Sans', Arial !important;
    margin-top: inherit !important;
}

ol li
{
	margin-bottom: 1em;
}

ol li:last-child
{
	margin-bottom: auto;
}

ol li ul
{
	list-style: disc;
}

p.RelatedTopics
{
    border-bottom: 2px solid #e6e6e6;
    color: black;
    display: block;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 2px;
    margin-right: 125px;
    padding-bottom: 2px;
}

table {
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom: 1px solid #007aff;
    border-collapse: separate;
    border-left: 1px solid #007aff;
    border-right: 1px solid #007aff;
    border-spacing: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 7px solid #007aff;
    margin: auto auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

table.landing {
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-bottom: none;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-spacing: default;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    margin: auto auto;
    width: 100%;
}

table > tr {
    border-bottom: 1px solid #ccc;
}

table.landing tr {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

tr:last-child > td {
	border-bottom: none;
}

table.landing td {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    box-sizing: default;
}

td {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
}

td.grayout
{
	color: #cccccc;
    background-color: #e6e6e6;
}

td.rightborder
{
    border-right: 1px solid #ccc !important;
}

td:last-child {
    border-right: none;
}

tr:first-child td {
    border-top: none;
}

td > p:first-child, th > p:first-child {
    margin-top: 0px;
    padding-top: 0px;
}

td > p:last-child, th > p:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

th {
    background-color: #007aff;
    border-bottom: 10px solid #007aff;
    border-right: 1px solid white;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans Semibold', Arial;
    font-weight: normal;
    margin: 0 auto;
    min-height: 20px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
}

table.landing th {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: default;
    box-sizing: default;
    color: default;
    margin: default;
}

td.Header2
{
	background-color: rgba(0,122,255,0.65);
    border-right: 1px solid #007aff;
    border-top: none;
	color: white;   
}

td.Header2:last-child
{
    border-right: none;
}

th:last-child {
    border-right: none;
}

ul 
{
    margin-top: 8px;
    margin-bottom: 8px;
}

ul.RelatedTopics
{
    list-style-type: none;
    margin-left: -20px;
    margin-bottom: 8px;
}

ul li 
{
	margin-bottom: 8px;
}

ul li p
{
    margin-bottom: 8px;
    margin-top: 0;
}

ul li:last-child
{
	margin-bottom: auto;
}

/*** Standalone Classes ***/

#goBackUp {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: white;
    border: 2px solid #007aff;
    border-radius: 5px;
    box-shadow: 1px 1px 0 0 #ccc;
    opacity: 0.75;
    padding: 5px;
    font-family: 'Open Sans', Arial !important;
	font-size: 11pt;
    transition: opacity 0.25s;
}

#goBackUp:hover {
    opacity: 1;
}

#goBackUp:active {
    background-color: #007aff;
    transition: background-color 0.25s;
}

/* Note */

div.Note, p.Note
{
	background-color: #fdffd9;
	background: -moz-linear-gradient(#fdffd9 65%, #ffffff);
	background: -o-linear-gradient(#fdffd9 65%, #ffffff);
	background: -webkit-linear-gradient(#fdffd9 65%, #ffffff);
    background: linear-gradient(#fdffd9 65%, #ffffff);
	border-radius: 0.5em / 0.5em;
	border: 1px solid #ffcc00;
	box-shadow: 0 2px 2px 1px #e6e6e6;
	font-family: 'Open Sans', Arial !important;
	font-size: 11pt;
    margin-top: 1em !important;
	padding: 5px;
}

div.Note::before, p.Note::before
{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #ffcc00;
	content: "\e67f";
	display: inline-block;
	font-family: 'icomoon';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
    padding-left: 2px;
    vertical-align: text-top;
}

div.Note
{
	font-family: 'Open Sans', Arial !important;
    margin-bottom: 1em !important;
}

div.Note ol li, div.Note ul li
{
	font-family: 'Open Sans', Arial !important;
}

p.Note
{
	/* Filler */
}

/* Tip */

div.Tip, p.Tip
{
	background-color: #e5f1fe;
	background: -moz-linear-gradient(#e5f1fe 65%, #ffffff);
	background: -o-linear-gradient(#e5f1fe 65%, #ffffff);
	background: -webkit-linear-gradient(#e5f1fe 65%, #ffffff);
    background: linear-gradient(#e5f1fe 65%, #ffffff);
	border-radius: 0.5em / 0.5em;
	border: 1px solid #007aff;
	box-shadow: 0 2px 2px 1px #e6e6e6;
	font-family: 'Open Sans', Arial !important;
	font-size: 11pt;
    margin-top: 1em !important;
	padding: 5px;
}

div.Tip::before, p.Tip::before
{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #007aff;
	content: "\0152";
	display: inline-block;
	font-family: 'icomoon';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
    margin-right: 5px;
	speak: none;
	text-transform: none;
    padding-left: 2px;
    vertical-align: text-top;
}

div.Tip
{
	font-family: 'Open Sans', Arial !important;
    margin-bottom: 1em !important;
}

div.Tip ol li, div.Tip ul li
{
	font-family: 'Open Sans', Arial !important;
}

p.Tip
{
	/* Filler */
}

/* Important */

div.Important, p.Important
{
	background-color: #ffe8e7;
	background: -moz-linear-gradient(#ffe8e7 65%, #ffffff);
	background: -o-linear-gradient(#ffe8e7 65%, #ffffff);
	background: -webkit-linear-gradient(#ffe8e7 65%, #ffffff);
    background: linear-gradient(#ffe8e7 65%, #ffffff);
	border-radius: 0.5em / 0.5em;
	border: 1px solid #ff3b30;
	box-shadow: 0 2px 2px 1px #e6e6e6;
	font-family: 'Open Sans', Arial !important;
	font-size: 11pt;
    margin-top: 1em !important;
	padding: 5px;
}

div.Important::before, p.Important::before
{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #ff3b30;
	content: "\0157";
	display: inline-block;
	font-family: 'icomoon';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
    padding-left: 2px;
    vertical-align: text-top;
}

div.Important
{
	font-family: 'Open Sans', Arial !important;
    margin-bottom: 1em !important;
}

div.Important ol li, div.Important ul li
{
	font-family: 'Open Sans', Arial !important;
}

p.Important
{
	/* Filler */
}

div.Note p:first-child, div.Tip p:first-child, div.Important p:first-child
{
    display: inline;
    margin: 0px;
    padding: 0px;
}

div.Note :last-child, div.Tip :last-child, div.Important :last-child
{
    margin-bottom: 0;
}

/*** MadCap Styles ***/

.MCWebHelpFramesetLink a
{
    color: #ff3b30 !important;
    font-family: 'Open Sans' !important;
    font-size: 11pt;
}

div[class*=MCDropDown_Open] span a	/* You can't use the Madcap style tag to select for a child element, so this selector is used to grab the dropdown in its open state */
{
	color: #007aff !important;
}

div[class*=MCHelpControl] span	/* You can't use the Madcap style tag to select for a child element, so this selector is used to grab the Help Control and remove the image it forces in */
{
	background: none;
	padding-left: 0px;
}

div[class*=relatedTopics] + ul 
{
    list-style-type: none;
    margin-left: -20px;
    margin-top: 0px;
    padding-top: 0px;
}
    
div[class*=MCDropDown_Closed]+div[class*=MCDropDown]
{
    margin-top: 5px;
}

div[class*=MCDropDown_Open] table:last-child
{
    margin-bottom: 1em;
}

span[class*=MCHelpControl-RelatedHotSpot_]
{
    border-bottom: 2px solid #e6e6e6;
    color: black;
    display: block;
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 2px;
    margin-right: 125px;
}

span[class*=MCTextPopupBody]
{
	-moz-border-radius: 0.5em;
	-moz-box-shadow: 0px 0.5px 2px 2px #007aff;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: 0px 0.5px 2px 2px #007aff;
	background-color: white;
	border-radius: 0.5em;
	box-shadow: 0px 0.5px 2px 2px #007aff;
    font-family: 'Open Sans', Arial;
}

span[class*=MCTextPopupBody]::before
{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #007aff;
	content: "\0152\00a0";
	display: inline-block;
	font-family: 'icomoon';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
    padding-left: 2px;
    vertical-align: text-top;
}

span[class*=MCTextPopupBody][class*=Showme]
{
    display: block !important;
    opacity: 1 !important;
}

a[class*=glossaryTerm][class*=Showpopup]
{
    color: #007aff;
}

span[class*=MCTextPopupArrow]
{
	border: none !important;
}

ul[class*=MCHelpControlList] 
{
    list-style-type: none;
    margin-left: -20px;
    margin-bottom: 8px;
    font-size: 11pt;
    font-weight: normal;
}

ul[class*=MCHelpControlList] li a
{
    transition: opacity 0.15s;
}

ul[class*=MCHelpControlList] li a:hover
{
    opacity: 0.75;
}



/*** The following section represents the classes for all characters
contained in icomoon. Probably some legal boilerplate here about the font. ***/

@font-face {
  font-family: 'icomoon';
  src: url('../Fonts/icomoon.eot');
  src: url('../Fonts/icomoon.eot') format('embedded-opentype'), url('../Fonts/icomoon.woff') format('woff'), url('../Fonts/icomoon.ttf') format('truetype'), url('../Fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal; 
}

span.render
{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #007aff;
	/* display: inline-block; */
	font-family: 'icomoon';
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

/* FORAUTOMATION - DO NOT REMOVE */
span.browse:before {
  content: "\e91a";
}

span.unconsolidate:before {
    content: "\e919";
}

span.sort:before {
    content: "\e918";
}

span.scan:before {
    content: "\e917";
}

span.outofsync:before {
    content: "\e915";
}

span.synced:before {
    content: "\e916";
}

span.collapse-card:before {
    content: "\e913";
}

span.create-OMC:before {
    content: "\e914";
}

span.mandatory:before {
    content: "\e911";
}

span.three-d-view:before {
    content: "\e90f";
}

span.data-frame:before {
    content: "\e910";
}

span.add-asset:before {
    content: "\e90e";
}

span.consolidate:before {
    content: "\e90d";
}

span.ASM-modified:before {
    content: "\e90b";
}

span.type:before {
    content: "\e90c";
}

span.camera:before {
    content: "\e90a";
}

span.expand-text-area:before {
    content: "\e909";
}

span.is-null:before {
    content: "\e908";
}

span.transpose:before {
    content: "\e907";
}

span.ASM-added:before {
    content: "\e901";
}

span.ASM-edited:before {
    content: "\e902";
}

span.ASM-removed:before {
    content: "\e903";
}

span.info:before {
    content: "\e904";
}

span.policy-active-indicator:before {
    content: "\e905";
}

span.policy-inactive-indicator:before {
    content: "\e906";
}

span.square:before {
    content: "\e900";
}

span.collapse-right-panel:before {
    content: "\e807";
}

span.expand-right-panel:before {
    content: "\e808";
}

span.standalone-recommendation:before {
    content: "\e6d8";
}

span.risk-matrix:before {
    content: "\e6d1";
}

span.content-validation:before {
    content: "\e800";
}

span.optimize-strategy:before {
    content: "\e801";
}

span.revision-history:before {
    content: "\e802";
}

span.riskmatrix-exclamation:before {
    content: "\e803";
}

span.riskmatrix-tick:before {
    content: "\e804";
}

span.tag-deleted:before {
    content: "\e805";
}

span.view-strategy:before {
    content: "\e806";
}

span.ahm:before {
    content: "\e6de";
}

span.changestates:before {
    content: "\e6db";
}

span.enable-offline-access:before {
    content: "\e6da";
}

span.disable-offline-access:before {
    content: "\e6d9";
}

span.go-to-ASI:before {
    content: "\e6d4";
}

span.import-from-SAP:before {
    content: "\e6d5";
}

span.send-to-ASI:before {
    content: "\e6d6";
}

span.unmerge:before {
    content: "\e6d7";
}

span.groups:before {
    content: "\e6c8";
}

span.location:before {
    content: "\e6ca";
}

span.loader:before {
    content: "\e6c9";
}

span.performance:before {
    content: "\e6cb";
}

span.risk:before {
    content: "\e6cc";
}

span.signout:before {
    content: "\e6cd";
}

span.tools:before {
    content: "\e6cf";
}

span.add-column:before {
    content: "\e6c4";
}

span.add-row:before {
    content: "\e6c5";
}

span.remove-column:before {
    content: "\e6c6";
}

span.remove-row:before {
    content: "\e6c7";
}

span.riskmatrixexclamation:before {
    content: "\e6c2";
}

span.riskmatrixtick:before {
    content: "\e6c3";
}

span.sequence-profile:before {
    content: "\e6c1";
}

span.datasheet-create:before {
    content: "\e6bd";
}

span.datasheet-info:before {
    content: "\e6be";
}

span.redo:before {
    content: "\e6bf";
}

span.undo:before {
    content: "\e6c0";
}

span.add-tab:before {
    content: "\e633";
}

span.datasheet-item:before {
    content: "\e635";
}

span.empty-space-item:before {
    content: "\e636";
}

span.enable-multiple-selection:before {
    content: "\e637";
}

span.free-sizing:before {
    content: "\e638";
}

span.group:before {
    content: "\e639";
}

span.hide-customization-form:before {
    content: "\e63b";
}

span.hide-item:before {
    content: "\e641";
}

span.hide-text:before {
    content: "\e642";
}

span.label:before {
    content: "\e65d";
}

span.lock-height:before {
    content: "\e66d";
}

span.lock-size:before {
    content: "\e6aa";
}

span.lock-width:before {
    content: "\e6b5";
}

span.multiple-column:before {
    content: "\e6b6";
}

span.seperator:before {
    content: "\e6b7";
}

span.single-column:before {
    content: "\e6b8";
}

span.size-constraints:before {
    content: "\e6b9";
}

span.splitter:before {
    content: "\e6ba";
}

span.text-position:before {
    content: "\e6bb";
}

span.ungrouped-tab-group:before {
    content: "\e6bc";
}

span.AMS-tag:before {
    content: "\e601";
}

span.GE-tag:before {
    content: "\e602";
}

span.OPC-tag:before {
    content: "\e603";
}

span.translation:before {
    content: "\e632";
}

span.delete-selected:before {
    content: "\e6dc";
}

span.view-bulkdata:before {
    content: "\e6dd";
}

span.cloud:before {
    content: "\e6d2";
}

span.mobile:before {
    content: "\e6d3";
}

span.strategy-nav:before {
    content: "\e6ce";
}

span.user-nav:before {
    content: "\e6d0";
}

span.collapse:before {
    content: "\e630";
}

span.expand:before {
    content: "\e631";
}

span.condition-move-handle:before {
    content: "\e62e";
}

span.ml-move-handle:before {
    content: "\e62f";
}

span.tm-data-entry:before {
    content: "\e62d";
}

span.rounds:before {
    content: "\e62b";
}

span.route-designer:before {
    content: "\e62c";
}

span.load-template:before {
    content: "\e61b";
}

span.skipped-measurement:before {
    content: "\e62a";
}

span.copy-existing:before {
    content: "\e623";
}

span.regenerate-plan:before {
    content: "\e624";
}

span.send-summary:before {
    content: "\e627";
}

span.system-one:before {
    content: "\e628";
}

span.view-details:before {
    content: "\e629";
}

span.delete-node:before {
    content: "\e622";
}

span.duplicate-entries:before {
    content: "\e61a";
}

span.duplicate-entries-not-allowed:before {
    content: "\e621";
}

span.open-record:before {
    content: "\e616";
}

span.field-value-change-condition-node:before {
    content: "\e615";
}

span.list-view:before {
    content: "\e6a4";
}

span.manage-tml-groups-components:before {
    content: "\e6a5";
}

span.mdx:before {
    content: "\e6a6";
}

span.measure:before {
    content: "\e6a7";
}

span.notifications:before {
    content: "\e6a8";
}

span.open-in-new-window:before {
    content: "\e6a9";
}

span.policy-inactive:before {
    content: "\e6ab";
}

span.prd-component-identifier:before {
    content: "\e6ac";
}

span.reference-document-shift-left:before {
    content: "\e6ad";
}

span.reference-document-shift-right:before {
    content: "\e6ae";
}

span.team-member-shift-left:before {
    content: "\e6af";
}

span.team-member-shift-right:before {
    content: "\e6b0";
}

span.tick:before {
    content: "\e6b1";
}

span.tree-collapse:before {
    content: "\e6b2";
}

span.tree-expand:before {
    content: "\e6b3";
}

span.users:before {
    content: "\e6b4";
}

span.link-asset-shift:before {
    content: "\e69f";
}

span.help:before {
    content: "\e6a0";
}

span.help-text:before {
    content: "\e6a1";
}

span.global-search:before {
    content: "\e6a2";
}

span.search:before {
    content: "\e6a3";
}

span.arrow:before {
    content: "\e69e";
}

span.dimension:before {
    content: "\e64a";
}

span.create-what-if:before {
    content: "\e64b";
}

span.circle-o:before {
    content: "\e64c";
}

span.cube:before {
    content: "\e64d";
}

span.cube-calculated-measure:before {
    content: "\e64e";
}

span.code:before {
    content: "\e64f";
}

span.attribute-hierarchy:before {
    content: "\e650";
}

span.apply-analysis:before {
    content: "\e651";
}

span.add-record:before {
    content: "\e614";
}

span.alert:before {
    content: "\e649";
}

span.ams-asset:before {
    content: "\e652";
}

span.and-alt:before {
    content: "\e653";
}

span.apply-component:before {
    content: "\e654";
}

span.arrow-down:before {
    content: "\e655";
}

span.back-arrow:before {
    content: "\e656";
}

span.bookmark:before {
    content: "\e657";
}

span.calculator:before {
    content: "\e658";
}

span.calendar:before {
    content: "\e659";
}

span.case:before {
    content: "\e65a";
}

span.cause-human:before {
    content: "\e65b";
}

span.close-tab:before {
    content: "\e65c";
}

span.count:before {
    content: "\e65e";
}

span.create-entity:before {
    content: "\e65f";
}

span.create-relationship:before {
    content: "\e660";
}

span.cut:before {
    content: "\e661";
}

span.data-format:before {
    content: "\e662";
}

span.deactivate-this-instance:before {
    content: "\e663";
}

span.default-logic-solver:before {
    content: "\e664";
}

span.delete-entity:before {
    content: "\e665";
}

span.delete-relationship:before {
    content: "\e666";
}

span.doc:before {
    content: "\e667";
}

span.doc-add:before {
    content: "\e668";
}

span.edit-entity:before {
    content: "\e669";
}

span.edit-failure-data:before {
    content: "\e66a";
}

span.entity:before {
    content: "\e66b";
}

span.error:before {
    content: "\e66c";
}

span.exponent:before {
    content: "\e66e";
}

span.failure-event:before {
    content: "\e66f";
}

span.failure-type:before {
    content: "\e670";
}

span.fit:before {
    content: "\e671";
}

span.focus:before {
    content: "\e672";
}

span.generate-report:before {
    content: "\e673";
}

span.graph:before {
    content: "\e674";
}

span.graph-view:before {
    content: "\e675";
}

span.greater-than:before {
    content: "\e676";
}

span.last:before {
    content: "\e677";
}

span.less-than:before {
    content: "\e678";
}

span.maximum:before {
    content: "\e679";
}

span.message:before {
    content: "\e67a";
}

span.minimum:before {
    content: "\e67b";
}

span.move:before {
    content: "\e67c";
}

span.new-policy:before {
    content: "\e67d";
}

span.node-execution:before {
    content: "\e67e";
}

span.node-properties:before {
    content: "\e67f";
}

span.object-list-item:before {
    content: "\e680";
}

span.operation:before {
    content: "\e681";
}

span.optimize-actions:before {
    content: "\e682";
}

span.or-alt:before {
    content: "\e683";
}

span.plus:before {
    content: "\e684";
}

span.policy-activate-all:before {
    content: "\e685";
}

span.policy-active:before {
    content: "\e686";
}

span.query:before {
    content: "\e687";
}

span.questionmark:before {
    content: "\e688";
}

span.questionmark-popup:before {
    content: "\e689";
}

span.refresh:before {
    content: "\e68a";
}

span.relationship-input-node:before {
    content: "\e68b";
}

span.report:before {
    content: "\e68c";
}

span.reset:before {
    content: "\e68d";
}

span.return-value:before {
    content: "\e68e";
}

span.run-simulation:before {
    content: "\e68f";
}

span.screen-collapse:before {
    content: "\e645";
}

span.screen-expand:before {
    content: "\e646";
}

span.select-all-alt:before {
    content: "\e690";
}

span.sensor:before {
    content: "\e691";
}

span.sensor-group:before {
    content: "\e692";
}

span.settings:before {
    content: "\e693";
}

span.share:before {
    content: "\e694";
}

span.starred:before {
    content: "\e695";
}

span.subtract:before {
    content: "\e696";
}

span.sum:before {
    content: "\e644";
}

span.table-sort-big:before {
    content: "\e697";
}

span.table-view:before {
    content: "\e698";
}

span.text:before {
    content: "\e699";
}

span.threshold-statistics:before {
    content: "\e69a";
}

span.up-arrow:before {
    content: "\e69b";
}

span.validate-diagrams:before {
    content: "\e69c";
}

span.view-data:before {
    content: "\e69d";
}

span.view-recommendation:before {
    content: "\e620";
}

span.xi-tag:before {
    content: "\e647";
}

span.pin:before {
    content: "\e648";
}

span.dashboard:before {
    content: "\e63a";
}

span.level-five:before {
    content: "\e63c";
}

span.level-four:before {
    content: "\e63d";
}

span.level-one:before {
    content: "\e63e";
}

span.level-three:before {
    content: "\e63f";
}

span.level-two:before {
    content: "\e640";
}

span.user-hierarchy:before {
    content: "\e643";
}

span.double-arrow-up:before {
    content: "\e634";
}

span.header-back-arrow:before {
    content: "\e625";
}

span.right-arrow:before {
    content: "\e626";
}

span.and:before {
    content: "\e619";
}

span.or:before {
    content: "\e61c";
}

span.play:before {
    content: "\e61d";
}

span.promote-to-asm:before {
    content: "\e61e";
}

span.table-sort-small:before {
    content: "\e61f";
}

span.add-alt:before {
    content: "\e605";
}

span.apply-template:before {
    content: "\e606";
}

span.options:before {
    content: "\e617";
}

span.send-link:before {
    content: "\e618";
}

span.switch-view-for-hazop:before {
    content: "\e613";
}

span.nominal-measurements:before {
    content: "\e612";
}

span.constant:before {
    content: "\e60c";
}

span.equal:before {
    content: "\e60d";
}

span.not-equal:before {
    content: "\e60e";
}

span.point-value:before {
    content: "\e60f";
}

span.save-policy-model-as:before {
    content: "\e610";
}

span.save-policy-model-as-instances:before {
    content: "\e611";
}

span.find:before {
    content: "\e60b";
}

span.add-children:before {
    content: "\e604";
}

span.production-event:before {
    content: "\e608";
}

span.r:before {
    content: "\e609";
}

span.subscribe:before {
    content: "\e60a";
}

span.table-sort:before {
    content: "\e600";
}

span.failure-mode:before {
    content: "\100";
}

span.analysis-period:before {
    content: "\104";
}

span.confidence-level:before {
    content: "\105";
}

span.group-data-by:before {
    content: "\109";
}

span.margin-currency:before {
    content: "\10a";
}

span.margin-value:before {
    content: "\10b";
}

span.minimum-production:before {
    content: "\10c";
}

span.plots:before {
    content: "\10e";
}

span.resources:before {
    content: "\10f";
}

span.time-units:before {
    content: "\111";
}

span.unit-of-measure:before {
    content: "\112";
}

span.view-analysis-list:before {
    content: "\114";
}

span.asset:before {
    content: "\116";
}

span.buffer:before {
    content: "\117";
}

span.diagram-hierarchy:before {
    content: "\118";
}

span.extrapolate:before {
    content: "\11a";
}

span.go-to-source:before {
    content: "\11c";
}

span.hide-grid:before {
    content: "\11d";
}

span.original:before {
    content: "\11e";
}

span.overview:before {
    content: "\11f";
}

span.reliability-distribution:before {
    content: "\120";
}

span.reliability-growth:before {
    content: "\121";
}

span.rename:before {
    content: "\122";
}

span.snap-to-grid:before {
    content: "\124";
}

span.subsystem:before {
    content: "\125";
}

span.switch:before {
    content: "\e912";
}

span.image:before {
    content: "\128";
}

span.final-element-group:before {
    content: "\12a";
}

span.cause-physical:before {
    content: "\12c";
}

span.cause-latent:before {
    content: "\12e";
}

span.not-true:before {
    content: "\130";
}

span.true:before {
    content: "\131";
}

span.hypothesis-state:before {
    content: "\132";
}

span.logic-gate-state:before {
    content: "\133";
}

span.package:before {
    content: "\137";
}

span.calibration-task:before {
    content: "\138";
}

span.inspection-task:before {
    content: "\139";
}

span.maintainance-item:before {
    content: "\13a";
}

span.maintainance-package:before {
    content: "\13b";
}

span.maintainance-plan:before {
    content: "\13c";
}

span.material:before {
    content: "\13d";
}

span.measurement-location-group:before {
    content: "\13e";
}

span.notification:before {
    content: "\13f";
}

span.prt:before {
    content: "\142";
}

span.task-list:before {
    content: "\143";
}

span.send-data-to-device:before {
    content: "\144";
}

span.export:before {
    content: "\145";
}

span.import:before {
    content: "\146";
}

span.create-recommendation:before {
    content: "\149";
}

span.strategy:before {
    content: "\14b";
}

span.user-key:before {
    content: "\14d";
}

span.select-all:before {
    content: "\14e";
}

span.deleted:before {
    content: "\14f";
}

span.information-alt:before {
    content: "\152";
}

span.remainder:before {
    content: "\153";
}

span.zoom-in:before {
    content: "\154";
}

span.zoom-out:before {
    content: "\155";
}

span.zoom-control:before {
    content: "\156";
}

span.node-warning:before {
    content: "\157";
}

span.upload:before {
    content: "\158";
}

span.team-members-shift:before {
    content: "\159";
}

span.field-map:before {
    content: "\15b";
}

span.extents:before {
    content: "\15c";
}

span.edit-relationship:before {
    content: "\15d";
}

span.add-value-to-health-indicator:before {
    content: "\15e";
}

span.policy-deactivate-all:before {
    content: "\160";
}

span.bubble-quote:before {
    content: "\161";
}

span.health-alert:before {
    content: "\162";
}

span.health-no-data:before {
    content: "\163";
}

span.health-normal:before {
    content: "\164";
}

span.health-warning:before {
    content: "\165";
}

span.asset-hierarchy:before {
    content: "\16e";
}

span.attachment:before {
    content: "\16f";
}

span.average:before {
    content: "\170";
}

span.bulb:before {
    content: "\172";
}

span.create-event:before {
    content: "\174";
}

span.calendar-ban:before {
    content: "\175";
}

span.close-event:before {
    content: "\176";
}

span.close-popup:before {
    content: "\179";
}

span.compare:before {
    content: "\17c";
}

span.copy:before {
    content: "\17e";
}

span.divide:before {
    content: "\186";
}

span.download:before {
    content: "\189";
}

span.edit:before {
    content: "\18c";
}

span.email-contact:before {
    content: "\18d";
}

span.node-error:before {
    content: "\190";
}

span.field-constant:before {
    content: "\194";
}

span.collection-filter:before {
    content: "\195";
}

span.graph-view-alt:before {
    content: "\198";
}

span.greater-than-or-equal:before {
    content: "\19a";
}

span.health-indicator:before {
    content: "\19c";
}

span.history:before {
    content: "\19d";
}

span.exclamation-in-circle:before {
    content: "\19f";
}

span.less-than-or-equal:before {
    content: "\1a1";
}

span.link:before {
    content: "\1a3";
}

span.magnifier:before {
    content: "\1a6";
}

span.send:before {
    content: "\1a7";
}

span.map:before {
    content: "\1a8";
}

span.measurement-location:before {
    content: "\1aa";
}

span.more:before {
    content: "\1ad";
}

span.multiply:before {
    content: "\1af";
}

span.grid:before {
    content: "\1b6";
}

span.paste:before {
    content: "\1b7";
}

span.printer:before {
    content: "\1ba";
}

span.reference-doc-shift:before {
    content: "\1bd";
}

span.round:before {
    content: "\1c2";
}

span.rule:before {
    content: "\1c3";
}

span.save:before {
    content: "\1c6";
}

span.bin:before {
    content: "\1d0";
}

span.unlink:before {
    content: "\1d1";
}

span.unpin:before {
    content: "\1d2";
}

span.user:before {
    content: "\1d3";
}
/* ENDAUTOMATION - DO NOT REMOVE */